<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pc.homepage.dao.HomeCarouselDao">
	<resultMap type="com.pc.homepage.entity.HomeCarouselEntity" id="homeCarouselMapper">
		<result property="id" column="c_id"/>
		<result property="imagePath" column="c_imagePath"/>
	</resultMap>

</mapper>